%h1 Current Legislation
%h3 Cast Your Vote Below

%ul
  - @polls.each do |poll|
    %li
      = link_to poll.title, poll
      |
      = link_to 'Edit', edit_poll_path(poll), class: "btn btn-primary"
      = link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"

%p= link_to 'New Poll', new_poll_path, class: "btn btn-primary"

